USE [master]
GO
/****** Object:  Database [BodyFitDB]    Script Date: 16/06/2025 22:13:12 ******/
CREATE DATABASE [BodyFitDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BodyFitDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BodyFitDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BodyFitDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BodyFitDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BodyFitDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BodyFitDB]
GO
/****** Object:  User [php_user]    Script Date: 16/06/2025 22:13:12 ******/
CREATE USER [php_user] FOR LOGIN [php_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [php_user]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [php_user]
GO
/****** Object:  Table [dbo].[aulas]    Script Date: 16/06/2025 22:13:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aulas](
	[id_aula] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[horarios] [text] NULL,
	[descricao] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_aula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[progresso]    Script Date: 16/06/2025 22:13:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[progresso](
	[id_progresso] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[data] [date] NOT NULL,
	[peso] [decimal](5, 2) NOT NULL,
	[altura] [int] NOT NULL,
	[massa_muscular] [decimal](5, 2) NOT NULL,
	[forca] [int] NOT NULL,
	[resistencia] [int] NOT NULL,
	[explosividade] [int] NOT NULL,
	[velocidade] [int] NOT NULL,
	[intensidade] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_progresso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservas]    Script Date: 16/06/2025 22:13:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservas](
	[id_reserva] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_aula] [int] NOT NULL,
	[data_reserva] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 16/06/2025 22:13:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nome_completo] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[senha] [varchar](255) NOT NULL,
	[plano] [varchar](20) NULL,
	[data_cadastro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id_usuario], [nome_completo], [email], [username], [senha], [plano], [data_cadastro]) VALUES (8, N'Nickolas Taylor Nunes Carvalho', N'nickolastaylor313@gmail.com', N'nii', N'$2y$10$pdjeY22eS.ah1sP.dJG4FetG6aR5J0cSCTntXAtLrUxzMas3ipble', N'Básico', CAST(N'2025-06-16T19:51:35.573' AS DateTime))
INSERT [dbo].[usuarios] ([id_usuario], [nome_completo], [email], [username], [senha], [plano], [data_cadastro]) VALUES (9, N'Ana Clara', N'ana@gmail.com', N'ana4', N'$2y$10$gDDUtUtaXDpwekC9dmIaNetAdLK8uxqZmN//heFCiiKyjNp3jWHdy', N'Básico', CAST(N'2025-06-16T20:41:51.453' AS DateTime))
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuarios__AB6E61649495F3F1]    Script Date: 16/06/2025 22:13:12 ******/
ALTER TABLE [dbo].[usuarios] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuarios__F3DBC5720706BD36]    Script Date: 16/06/2025 22:13:12 ******/
ALTER TABLE [dbo].[usuarios] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[reservas] ADD  DEFAULT (getdate()) FOR [data_reserva]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ('Básico') FOR [plano]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [data_cadastro]
GO
ALTER TABLE [dbo].[progresso]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[reservas]  WITH CHECK ADD FOREIGN KEY([id_aula])
REFERENCES [dbo].[aulas] ([id_aula])
GO
ALTER TABLE [dbo].[reservas]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
USE [master]
GO
